@import '../../global.module.scss';

.form{
    width: 600px;
    padding: 1.5rem;
}

.btn__container{
    padding: 0.5rem;
}

.btn{
    width: 100%;
}

@media screen and (min-width:800px){
    .form{
        width: 800px;
    }
}