@import "../../../global.module.scss";
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    &.open{
        width:250px;
    }

    & .btn__close {
        color:white;
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }

    & .btn__close:hover{
        cursor:pointer;
    }
}

.content{
    transition: margin-left .5s;
    margin-left: 0px;
    &.open{
        margin-left:250px;
    }
}